@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$primary: #443e44;
body {
    background-color: $primary;
}

.quieness {
    background: url('../images/fantasy-7668136_1280.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
.quieness::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .quieness .text-container {
    z-index: 10;
  }