@charset "UTF-8";
.carrousel .slider {
  width: 70%;
  margin: 0 auto;
}

.imagesep-container {
  width: 100%; /* Ancho deseado del contenedor */
  height: 150px; /* Alto deseado del contenedor */
  overflow: hidden; /* Oculta la parte de la imagen que sobrepasa el contenedor */
  position: relative; /* Necesario para el posicionamiento absoluto de la imagen */
}

.imagesep-container img {
  position: absolute; /* Permite mover la imagen dentro del contenedor */
  top: -280px; /* Ajusta la posición vertical */
  left: 0px; /* Ajusta la posición horizontal */
  width: auto;
  height: auto;
  max-width: none; /* Asegura que la imagen no se escale automáticamente */
}

.image-overlay {
  position: absolute; /* Permite posicionar el encabezado dentro del contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25); /* Fondo semi-transparente */
  color: white; /* Color del texto */
}

.blue-paths {
  width: 100%; /* Ajusta este valor según tus necesidades */
  height: 50px; /* Mantiene la proporción */
}

.blue-paths path {
  fill: #000080; /* Azul oscuro */
  stroke: #000080; /* Azul oscuro */
}

.footer-bg {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/coassist-seguros-fondo-1a.jpg") center center no-repeat;
  background-size: cover;
}

.confondo {
  width: 1920px; /* o puedes especificar un ancho fijo si conoces el tamaño de la imagen */
  height: 1080px; /* o puedes especificar una altura fija si conoces el tamaño de la imagen */
  background: url("../images/optimizada3.jpg") center center no-repeat;
  background-size: auto; /* mantiene el tamaño original de la imagen */
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
/* ============ small devices .end// ============ */
